%h1 Pets

%table.table
  %tr
    %th Name
    %th Contact
    %th Shelter ID

  - @pets.each do |pet|
    %tr
      %td= link_to pet.name, pet
      %td= pet.contact
      %td= pet.shelter_id_pf

%br
