= simple_form_for(@import) do |f|
  = f.error_notification

  .form-group
    = f.input :zipcode, input_html: {class: 'form-control'}
  .form-actions
    = f.button :submit, 'Import Pets', class: 'btn-primary'
