%h1 Import pets


/ %table
/   %tr
/     %th
/     %th
/     %th

/   - @imports.each do |import|
/     %tr
/       %td= link_to 'Show', import
/       %td= link_to 'Edit', edit_import_path(import)
/       %td= link_to 'Destroy', import, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Import', new_import_path

= render 'form'

%div
  / %pre= JSON.pretty_generate(@list)
