.navbar-header
  %button.navbar-toggle.collapsed{"data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "Petmatch", '/', :class => 'navbar-brand'

.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    %li.active
      = link_to('Pets', '/pets')
    %li
      = link_to('Shelters', '/shelters')
    %li
      = link_to('Import', '/imports')
